@media only screen and (max-width: 770px){
    .our{
        /* border: 2px solid; */
        margin-bottom: 3rem;
        height:60svh;
        display: flex;
        justify-content: center;
        /* flex-direction: column-reverse; */
      }
      .our>.right>.popup,.our>.right>.popup2{
        display: none;
      }
      .our>.left,.our>.right{
        width: 100%;
      }
    .exploreNow {
        width: 95%;
        margin: 1rem;
      }
}
@media only screen and (max-width: 430px) {
    .outterMost {
        /* border: 2px solid black; */
        height: 100%;
        width: 48rem;
        padding: 1rem 5rem;
      }
      .outterMostMain {
        /* border: 2px solid red; */
        width: 100%;
      }
      .our{
        margin: 3rem;
        align-items: center;
        flex-direction: column-reverse;
      }
      .our>.right>.popup,.our>.right>.popup2{
        display: none;
      }
      .our>.left,.our>.right{
        width: 60%;
      }
      .footer>.top,.footer>.down{
        width: 100%;
      }
      .exploreNow {
        width: 95%;
        margin: 1rem;
      }
  }
  
